.on-hover {    
  a {
    text-decoration: none;
    color: #a8999d;
    transition: all .1s;
  }

  &:hover a {
    text-decoration: none;
    color: $hovered;
  }
    
  &:hover::before {
    color: $hovered;
    transition: all .2s;
  }      
}

.registration-area {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  background-image: url(../img/registration_step2/bg-girl.png);
  min-height: 525px;  
  padding: 28px 20px;

  @include max-screen(1200px) {
    justify-content: space-between;
    padding: 28px 4px;
  }

  @include max-screen(992px) {
    flex-direction: column;
    padding: 28px 20px;
  }

  @include max-screen(345px) {
    flex-direction: column;
    padding-right: 2px;
  }
}

.areas {
  max-width: 600px;
  width: calc(50% - 4px);
  position: relative;
  display: flex;
  flex-direction: column;  

  @include max-screen(992px) {
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
  }
}

.choose-business {
  margin-left: 0;
  
  @include max-screen(1200px) {
    margin-left: 1%
  }
}

.enter-info {

  @include max-screen(992px) {
   margin-top: 15px;
  }
}

.header-step2 {
  position: relative;
  min-height: 56px;
  height: auto;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 64px;
    height: 2px;
    background-color: $baseTextCol;
    transform: translateX(-50%);
    top: calc(100% - 2px);

    @include max-screen(1200px) {
      transform: translateX(0);
    }

    @include max-screen(992px) {
      transform: translateX(-50%);
    }
  }
  
  h2 {
    text-transform: uppercase;
    color: $baseTextCol;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 1.2px;
  }
}

.data-area {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  justify-content: center;

  @include max-screen(576px) {
    display: none;
  }
}

.description {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

input {
  background-color: transparent;
  max-width: 266px;
  width: calc(100% - 2px);
  height: 40px;
  border: 1px solid $baseTextCol;
  padding-left: 4px;

  @include max-screen(1200px) {
    max-width: calc(100% - 8px);
  }

  @include max-screen(992px) {
    max-width: 266px;
  }

  @include max-screen(768px) {
    max-width: calc(80% - 5px);
  }

  @include max-screen(576px) {
    max-width: 266px;
  }
}

.left-data {
  img {
    margin-top: 28px;
    width: 266px;
    height: 66px;
  }
}

.datas {
  width: calc(50% - 5px);
  display: flex;
  flex-direction: column;

  .description {

    &:last-of-type {
      margin-top: 20px;
    }
  }
}

.mobile-data-area {    
  display: none;
  margin-top: 35px;

  @include max-screen(576px) {
    display: flex;
    flex-direction: column;
  }

  .lines {
    display: flex;
    flex-direction: column;
    .description { 
      margin-top: 15px !important;
      margin-bottom: 5px !important;      
    }
  }
  img {
    margin-top: 28px;
    width: 266px;
    height: 66px;
  }
}


#last-desription {
  margin-top: 20px;

  @include max-screen(576px) {
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

.gender {
  position: relative;
  top: 38px;

  ul {

    li {
      list-style: none;
      position: relative;
      bottom: 5px;
      right: 5px;
      letter-spacing: 0.9px;

      &:last-of-type {
        top: 3px;
        letter-spacing: 0.6px;
      }

      &::before{
        position: absolute;
        content: "";
        width: 14px;
        height: 14px;
        top:3px;
        left: -32px;
        border: 1px solid $baseTextCol;
        transform: rotate(45deg);        
      }

      &:hover::before {
        background-color: $baseTextCol;
      }

      a {
        color: $baseTextCol;

        &:hover {
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
}

.paragraph-wrapper {
  margin-top: 59px;
  max-width: 505px;

  @include max-screen(992px) {
    max-width: 750px;
  }
}

.paragraph-left {  
  letter-spacing: 0.8px;
  line-height: 28px;

  &:last-of-type {
    margin-top: 32px;
  }

  span {
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.terms {
  font-weight: bold;
  text-decoration: underline;
}

.paragraph-right {
  position: relative;
  margin-top: 30px;
  margin-left: 38px;
  cursor: pointer;

   @include max-screen(992px) {
     margin-left: 0;
     max-width: 320px;
   }

   @include max-screen(768px) {
     margin-left: 30px;
   }
  
  &::before{
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: calc(50% - 7px);
    left: -35px;
    border: 1px solid $baseTextCol;
    transform: rotate(45deg);   
    
    @include max-screen(1200px) {
      left: -25px;
    }

    @include max-screen(992px) {
      left: -35px;
    }

    @include max-screen(768px) {
      left: -25px;
    }

    @include max-screen(576px) {
      top: 14px;
    }
  }

  &:hover::before {
    background-color: $baseTextCol;
  }
}

.sign-up {
  position: relative;
  margin-top: 69px;
  margin-left: 3px;
  width: 160px;
  height: 40px;
  background-color: transparent;
  border: 2px solid $baseTextCol;

  @include max-screen(768px) {
    margin-top: 25px;
  }
  
  a {
    position: absolute;
    bottom: 0;
    left: 0;    
    color: $baseTextCol;
    display: block;
    width: 156px;
    height: 36px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
    overflow: hidden;
    letter-spacing: -0.5px;
    z-index: 1;

    &:hover {
      text-decoration: none;
      color: $bgCol;
    }

    &::before{
      content: "";
      display: block;
      position: absolute;
      transform: translateX(100%);
      width: 156px;
      height: 36px;
      background-color: $baseTextCol;    
      transition: all .4s;      
    }

    &:hover::before {
      transform: translate(0);
      z-index: -1; 
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 158px;
    top: calc(50% - 1px);
    max-width: 390px;
    width: 250%;
    height: 2px;
    background-color:  $baseTextCol;

    @include max-screen(1200px) {
      width: 200%;
    }

    @include max-screen(992px) {
      max-width: 530px;
      width: 340%;
    }

    @include max-screen(768px) {
      width: 240%;
    }

    @include max-screen(576px) {
      display: none;
    }
  }
}
