.registration-area {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url(../img/registration_step2/bg-girl.png);
  min-height: 525px;
  padding: 28px 19px;

  @include max-screen(1199px) {
    justify-content: space-between;
  }
}

.choose-business, .enter-info {
  max-width: calc(50% - 4px) !important;
  position: relative;
  // margin-top: 28px;
  // margin-left: 19px;
  display: flex;
  flex-direction: column;
  max-width: 600px;

  // @include max-screen(1199px) {
  //   margin-left: 15px;
  //   margin-right: 15px;
  // }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 64px;
    height: 2px;
    background-color: $baseTextCol;
    transform: translateX(-50%);
    top: 54px;
  }
}

.header-step2 {

  &::before {
    position: absolute;
    content: "";
    left: -32px;
    bottom: 0;
    width: 100%;
    height: 2px;
    max-width: 64px;
    background-color: transparent;
    border-radius: 1px solid $baseTextCol;
  }

  &:hover::before {
    background-color:  $baseTextCol;
  }

  h2 {
    text-transform: uppercase;
    color: $baseTextCol;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 1.2px;
  }
}

.description {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.data-area {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  justify-content: center;
  // position: relative;
  // top: 39px;
}

.left-data, .right-data {  
  width: calc(50% - 15px);
  // padding-top: 39px;
  display: flex;
  flex-direction: column;

  input {
    // position: relative;
    // bottom: 5px;
    background-color: transparent;
    max-width: 266px;
    width: calc(100% - 5px);
    height: 40px;
    border: 1px solid $baseTextCol;
    padding-left: 4px;   
    
    // @include max-screen(1132px) {
    //   width: 220px;
    // }
  }

  .description {

      &:last-of-type {
        margin-top: 20px;
      }
    }

  img {
    margin-top: 28px;
    width: 266px;
    height: 66px;
  }
}

#last-desription {
  margin-top: 20px;
}

.gender {
  position: relative;
  top: 38px;

  ul {

    li {
      list-style: none;
      position: relative;
      bottom: 5px;
      right: 5px;
      letter-spacing: 0.9px;

      &:last-of-type {
        top: 3px;
        letter-spacing: 0.6px;
      }

      &::before{
        position: absolute;
        content: "";
        width: 14px;
        height: 14px;
        top:3px;
        left: -32px;
        border: 1px solid $baseTextCol;
        transform: rotate(45deg);        
      }

      &:hover::before {
        background-color: $baseTextCol;
      }

      a {
        color: $baseTextCol;

        &:hover {
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
}

.paragraph-wrapper {
  margin-top: 59px;
  max-width: 505px;
}

.paragraph-left {  
  letter-spacing: 0.8px;
  line-height: 28px;

  // &:last-of-type {
  //   top: 75px;
  // }

  span {
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.terms {
  font-weight: bold;
  text-decoration: underline;
}

.paragraph-right {
  position: relative;
  margin-top: 30px;
  margin-left: 38px;
  cursor: pointer;

  // @include max-screen(1250px) {
  //   max-width: 250px;
  // }

  // @include max-screen(1132px) {
  //   max-width: 200px;
  // }

  &::before{
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: 21px;
    left: -35px;
    border: 1px solid $baseTextCol;
    transform: rotate(45deg);   
    
    @include max-screen(1199px) {
      left: -25px;
    }
  }

  &:hover::before {
    background-color: $baseTextCol;
  }
}

.sign-up {
  position: relative;
  margin-top: 30px;
  margin-left: 15px;
  width: 160px;
  height: 40px;
  background-color: transparent;
  border: 2px solid $baseTextCol;
  
  a {
    position: absolute;
    bottom: 0;
    left: 0;    
    color: $baseTextCol;
    display: block;
    width: 156px;
    height: 36px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
    overflow: hidden;
    letter-spacing: -0.5px;
    z-index: 1;

    &:hover {
      text-decoration: none;
      color: $bgCol;
    }

    &::before{
      content: "";
      display: block;
      position: absolute;
      transform: translateX(100%);
      width: 156px;
      height: 36px;
      background-color: $baseTextCol;    
      transition: all .4s;      
    }

    &:hover::before {
      transform: translate(0);
      z-index: -1; 
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 158px;
    top: calc(50% - 1px);
    max-width: 390px;
    width: 250%;
    height: 2px;
    background-color:  $baseTextCol;

    // @include max-screen(1199px) {
    //   width: 200%;
    // }
  }
}
